/** ___ Layout ____________________________________________________
 * 
 *    此為存放公用樣板用
 *
 * ___________________________________________________________ */

/* -------------- Wrapper 整體包覆 ------------- */
#wrapper{
  width: 100%;
}

.inner{
  width: 1170px;
  margin: 0 auto;
  
}

@include media(">=mPhone"){
  .inner{
    width: 100%;
  } 
}

/* -------------- Grid ------------- */
/*
	預設為16格
  切四尺寸
  ___ 320 ____ 720  ....  800 ____ 1280 ____

*/
$grid-count	: 16;
$grid-width	:	100 / $grid-count; 

@mixin grid-item($count) {
  width: percentage(1 / $count);
}

