/** ___  Setting  __________________________________________________
 * 
 *    此檔案為網站設定檔，包含基本字體、顏色、尺寸、網址
 *		可以透過切換此檔進行改動
 * ___________________________________________________________ */

$base-color: #ccc;
$base-font-color: #333;
$base-hover-color: #0070bf;
